<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bupaljr.com.fikzar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_fikzar_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_fikzar_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fikzar">
        <activity android:name=".handyman.HandymanSettings" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HandymanProfile" /> <!-- Customer Activities -->
        <activity android:name=".customer.MainActivity" />
        <activity android:name=".customer.RegisterUserActivity" />
        <activity android:name=".customer.ForgotPassword" />
        <activity android:name=".customer.DashboardActivity" />
        <activity android:name=".customer.SearchActivity" />
        <activity android:name=".customer.DisplaySearch" />
        <activity android:name=".customer.ChatsActivity" />
        <activity android:name=".customer.JobsActivity" />
        <activity android:name=".customer.AccountActivity" />
        <activity android:name=".customer.UserProfileActivity" />
        <activity android:name=".customer.SettingsActivity" />
        <activity android:name=".customer.AboutUsActivity" /> <!-- Handyman Activities -->
        <activity android:name=".handyman.HandymanMainActivity" />
        <activity android:name=".handyman.RegisterHandyman" />
        <activity android:name=".handyman.ForgotPasswordHandyman" />
        <activity android:name=".handyman.HandymanDashboard" />
        <activity android:name=".handyman.HandymanPacks" />
        <activity android:name=".handyman.HandymanAccount" />
        <activity android:name=".handyman.HandymanChats" />
        <activity android:name=".handyman.HandymanJobs" />
    </application>

</manifest>